<!-- In bio/bio.html -->

{% extends 'main/base.html' %}

{% block title %}bio{% endblock %}

{% load static %}
<link rel="stylesheet" href="{% static 'styles.css' %}">

{% block body_class %}page_class{% endblock %}


{% block content %}


<div class="content-container">
    <h1 class="Olii">About Me...</h1>
    <p>Hello! I'm Olga Titzenthalerová, and I have a diverse background in civil engineering, architecture, and urban planning. My journey includes earning a Ph.D. in Urban Planning, where I delved into ....</p>
  
    <p>While my base is rooted in design and structural planning for buildings, my curiosity led me to explore the fascinating world of coding. Coding, for me, has evolved from a hobby to a passionate pursuit, allowing me to bring a unique perspective to the tech landscape.</p>

    <p>Beyond the technical realm, you'll find me actively involved in building my own house, 
        enjoying bouldering whenever time allows and sometimes go kitesurfing if there is an occation. 
        And last but not least, I am a proud mom of a wonderful little young man, highlighting my belief in a well-rounded approach to life. 
        I'm enthusiastic about exploring new technologies, engaging in sports, and finding joy in every aspect of life.</p>

    <p>Looking ahead, I'm excited about any of my projects and hobbies, where I can continue merging my varied experiences into meaningful contributions. 
        Feel free to explore more about my professional journey and interests on this site!</p>
    
    <img class="profile-picture" src="{% static 'main/images/profile-pic.png' %}" alt="Profile Picture">
</div>

{% endblock %}
