<!-- In bio/bio.html -->

{% extends 'main/base.html' %}

{% block title %}bio{% endblock %}

{% load static %}
<link rel="stylesheet" href="{% static 'styles.css' %}">

{% block body_class %}page_class{% endblock %}


{% block content %}


<div class="content-container">
    <h1 class="Olii">About Me...</h1>
<p>Hello! I'm Olga Titzenthalerová, a civil engineer, architect, and urban planner with a Ph.D. in Urban Planning. While my expertise lies in building design and planning, I've developed a passion for coding, adding a unique perspective to technology.</p>

 <p>Beyond the technical realm, you'll find me building my own house, enjoying bouldering, and occasionally kitesurfing. As a proud mom, I believe in a well-rounded life. I'm enthusiastic about new technologies, sports, and finding joy in every aspect of life.</p>
    
 <p>Explore my projects and varied experiences on this site!</p>
    
    <img class="profile-picture" src="{% static 'main/images/profile-pic.png' %}" alt="Profile Picture">
</div>

{% endblock %}

