
{% extends 'main/base.html' %}

{% block title %}build{% endblock %}

{% block body_class %}page_class{% endblock %}

{% block content %}
    <h2>I am architect</h2>
    <p>I am fully capable od designing family house.</p>
    <p>You can contact me for a project.</p>

    <h2>I am architect</h2>
    <p>And because just drawing is not enouh of experiences,<br> 
        I decided to build my own house on my own.</p>
    <p>Actually not just on my own we are great team with my dad.</p>
{% endblock %}


