<!-- mysite\main\templates\main\index.html -->

{% extends 'main/base.html' %}


{% block body_class %}page_class{% endblock %}


{% load static %}
<link rel="stylesheet" href="{% static 'styles.css' %}">


{% block title %}MySite - Home{% endblock %}

{% block content %}


<div class="content-container">
    <h1 class="Olii">Welcome to my webpage...</h1>
    <br>
    <p>Architect & civil engineering skills</p>
    <br>
    <p>&lt Coding > skills </p>
    
    <img class="profile-picture" src="{% static 'main/images/profile-pic.png' %}" alt="Profile Picture">
</div>

{% endblock %}
