/* mysite/contact/static/contact/contact_styles.css */

/* Style submit button */
.contact input[type="submit"] {
    background-color: #c7127c; /* Change background color */
    color: white;
    cursor: pointer;
    padding: 12px 20px; /* Adjust padding to increase button size */
    font-size: 16px; /* Adjust font size */
    border: none; /* Remove border if not needed */
}

/* Style form fields */
.contact input,
.contact textarea {
    width: 100%;
    padding: 2px; /* Adjust padding for input fields */
    margin-bottom: 5px; /* Adjust margin between fields */
    box-sizing: border-box;
}

/* Adjust the size of the textarea specifically */
.contact textarea {
    height: 80px; /* Adjust the height of the textarea as needed */
}

.contact button {
    background-color: #c7127c;
    color: white;
    padding: 8px 10px; /* Adjust padding to increase button size */
    font-size: 16px; /* Adjust font size */
    margin: 2px;
}

/* Additional styles for the form container */
.contact-form {
    max-width: 400px;
    margin: auto;
    background-color: #333;
    color: white;
    padding: 5px; /* Add padding to the container */
    overflow-y: auto; /* Enable vertical scrolling */
    max-height: 300px; /* Limit the maximum height of the container */
    margin-bottom: 100px; /* Add more space at the bottom */
}