<!-- contact/contact.html -->
{% extends 'main/base.html' %}

{% block title %}Contact{% endblock %}

{% block body_class %}page_class{% endblock %}

{% block extra_head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'contact/contact_styles.css' %}">
{% endblock %}

{% block content %}

    <h2 class="contact">Get in touch!</h2>
    <form method="post" action="{% url 'contact' %}" class="contact">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="contact">Submit</button>
    </form>
{% endblock %}

