<!-- mysite/contact/templates/contact/success.html -->

{% extends 'main/base.html' %}
{% block title %}Success{% endblock %}
{% block body_class %}page_class{% endblock %}

{% block extra_head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'contact/contact_styles.css' %}">
{% endblock %}

{% block content %}
<div class="contact">
    <h2>Form Submitted Successfully</h2>
    <p>Thank you for contacting me! I will get back to your mail soon.</p>
</div>
{% endblock %}
